/**
 * FluidProp for Stylus
 * 
 * @version 1.0
 * @author Niels Lyngsø
 * @license MIT License
 * @website: http://www.github.com/stylus-fluid-prop
*/

FluidProp = {};
FluidProp.currentPropName = "null";
FluidProp.currentMapValue = 1;
FluidProp.currentPropValue = 1;
FluidProp.currentPropUnit = "px";

FluidProp-start(propertyName="font-size", startMappingAt=0, propertyStartValue=0, propertyUnit="px") {
	
	FluidProp.currentPropName = propertyName;
	FluidProp.currentMapValue = startMappingAt;
	FluidProp.currentPropValue = propertyStartValue;
	FluidProp.currentPropUnit = propertyUnit;
	
	propertyString = unit(propertyStartValue, FluidProp.currentPropUnit);
	
	{propertyName}: propertyString;
	
}

FluidProp-step(mapAt, propertyValue) {
	
	viewportGrowth = mapAt - FluidProp.currentMapValue;
	sizeGrowth = propertyValue - FluidProp.currentPropValue;
	relationRatio = sizeGrowth / viewportGrowth;
	correction = FluidProp.currentPropValue - FluidProp.currentMapValue * relationRatio;
	
	mediaProp = "(min-width: "+unit(FluidProp.currentMapValue, "px")+") and (max-width: "+unit(mapAt, "px")+")";
	propertyName = FluidProp.currentPropName;
	propertyString = "calc(%s + %s)" % (unit(relationRatio*100, "vw") unit(correction, FluidProp.currentPropUnit));
	
	@media mediaProp {
		{propertyName}: propertyString;
	}
	
	FluidProp.currentPropValue = propertyValue;
	FluidProp.currentMapValue = mapAt;
}


FluidProp-stay(mapAt) {
	
	
	mediaProp = "(min-width: "+unit(FluidProp.currentMapValue, "px")+") and (max-width: "+unit(mapAt, "px")+")";
	propertyName = FluidProp.currentPropName;
	propertyString = unit(FluidProp.currentPropValue, FluidProp.currentPropUnit);
	
	@media mediaProp {
		{propertyName}: propertyString;
	}
	
	FluidProp.currentMapValue = mapAt;
	
}

FluidProp-end() {
	
	mediaProp = "(min-width: "+unit(FluidProp.currentMapValue, "px")+")";
	propertyName = FluidProp.currentPropName;
	propertyString = unit(FluidProp.currentPropValue, FluidProp.currentPropUnit);
	
	@media mediaProp {
		{propertyName}: propertyString;
	}
	
}

FluidProp-endless(growthRelationRatio) {
	
	additional = FluidProp.currentPropValue - FluidProp.currentMapValue * growthRelationRatio;
	
	mediaProp = "(min-width: "+unit(FluidProp.currentMapValue, "px")+")";
	propertyName = FluidProp.currentPropName;
	propertyString = "calc(%s + %s)" % (unit(growthRelationRatio*100, "vw") unit(additional, FluidProp.currentPropUnit));
	
	@media mediaProp {
		{propertyName}: propertyString;
	}
}
